In [1]:
import pandas as pd
import plotly.express as px
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns   
from unidecode import unidecode

In [3]:
dados = pd.read_excel('WDI_EXCEL/WDIEXCEL.xlsx')

In [4]:
dados.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,17.488497,18.001597,18.558234,19.043572,19.586457,20.192064,20.828814,21.372164,22.100884,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.811504,7.096003,7.406706,7.666648,8.020952,8.403358,8.718306,9.097176,9.473374,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,38.152090,38.488233,38.779953,39.068462,39.445526,39.818645,40.276374,40.687817,41.211606,NaN
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.871956,33.922276,38.859598,40.223744,43.035073,44.390861,46.282371,48.127211,48.742043,NaN
4,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,17.672943,16.527554,24.627753,25.432092,27.061929,29.154282,31.022083,32.809138,33.760782,NaN

In [31]:
dados.columns = [col.strip().replace("_", " ") for col in dados.columns]

In [32]:
print(dados.columns)

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023'],
      dtype='object')

In [33]:
dados_long = dados.melt(
    id_vars=["Country Name", "Country Code", "Indicator Name", "Indicator Code"],
    var_name="Year",
    value_name="Value"
)

In [35]:
# Lista de indicadores de interesse para a anÃ¡lise
indicadores_interesse = [
    # DemogrÃ¡ficos:
    "Fertility rate, total (births per woman)",
    "Mortality rate, infant (per 1.000 live births)",
    "Life expectancy at birth, total (years)",
    "Net migration",
    "Birth rate, crude (per 1.000 people)",

    # EconÃ´micos:
    "GDP per capita (current US$)",
    "GDP growth (annual %)",
    "Unemployment, total (% of total labor force)",
    "Domestic credit to private sector (% of GDP)",
    "GDP (current US$)",
    "Gross domestic savings (% of GDP)",

    # UrbanizaÃ§Ã£o:
    "Urban population (% of total population)",
    "Urban population growth (annual %)",
    "Population in largest city",
    "Urban land area (% of total land area)",
    "Population density (people per sq. km of land area)",
    "Rural population (% of total population)",

    # EducaÃ§Ã£o:
    "School enrollment, primary (% net)",
    "Literacy rate, adult total (% of people ages 15 and above)",

    # SaÃºde:
    "Health expenditure, total (% of GDP)",
    "Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)",
    "Condom use, population ages 15-24, female (% of females ages 15-24)",
    "Condom use, population ages 15-24, male (% of males ages 15-24)",
    "Mortality rate, under-5 (per 1,000 live births)",
    "Prevalence of current tobacco use (% of adults)",
    "Prevalence of HIV, total (% of population ages 15-49)",
    "Pregnant women receiving prenatal care (%)",
    "People using at least basic sanitation services (% of population)",
    "Access to electricity (% of population)",
    "Internet usage (% of population)",
    "Intentional homicides (per 100,000 people)",

    # Pobreza:
    "Income share held by highest 10%",
    "Income share held by highest 20%",
    "Income share held by lowest 10%",
    "Income share held by lowest 20%",
    "Gini index",
]


# Filtrar o DataFrame para manter apenas os indicadores de interesse
dados_filtrados = dados_long[dados_long["Indicator Name"].isin(indicadores_interesse)]

# Exibir as primeiras linhas para verificaÃ§Ã£o
dados_filtrados.head()

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Value
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,1960,NaN
221,Africa Eastern and Southern,AFE,"Condom use, population ages 15-24, female (% o...",SH.CON.1524.FE.ZS,1960,NaN
222,Africa Eastern and Southern,AFE,"Condom use, population ages 15-24, male (% of ...",SH.CON.1524.MA.ZS,1960,NaN
311,Africa Eastern and Southern,AFE,Domestic credit to private sector (% of GDP),FS.AST.PRVT.GD.ZS,1960,NaN
422,Africa Eastern and Southern,AFE,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1960,6.723226

In [36]:
dados_filtrados.dtypes

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
Year               object
Value             float64
dtype: object

In [ ]:
dados_filtrados['Year'] = dados_filtrados['Year'].astype(int)

In [38]:
print(dados_filtrados.dtypes)

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
Year                int64
Value             float64
dtype: object

In [40]:
x = dados_filtrados['Country Name'].nunique()
print(x)

266

In [41]:
paises_unicos = dados_filtrados["Country Name"].unique()
print(paises_unicos)

['Africa Eastern and Southern' 'Africa Western and Central' 'Arab World'
 'Caribbean small states' 'Central Europe and the Baltics'
 'Early-demographic dividend' 'East Asia & Pacific'
 'East Asia & Pacific (excluding high income)'
 'East Asia & Pacific (IDA & IBRD countries)' 'Euro area'
 'Europe & Central Asia' 'Europe & Central Asia (excluding high income)'
 'Europe & Central Asia (IDA & IBRD countries)' 'European Union'
 'Fragile and conflict affected situations'
 'Heavily indebted poor countries (HIPC)' 'High income' 'IBRD only'
 'IDA & IBRD total' 'IDA blend' 'IDA only' 'IDA total'
 'Late-demographic dividend' 'Latin America & Caribbean'
 'Latin America & Caribbean (excluding high income)'
 'Latin America & the Caribbean (IDA & IBRD countries)'
 'Least developed countries: UN classification' 'Low & middle income'
 'Low income' 'Lower middle income' 'Middle East & North Africa'
 'Middle East & North Africa (excluding high income)'
 'Middle East & North Africa (IDA & IBRD countries)' 'Middle income'
 'North America' 'Not classified' 'OECD members' 'Other small states'
 'Pacific island small states' 'Post-demographic dividend'
 'Pre-demographic dividend' 'Small states' 'South Asia'
 'South Asia (IDA & IBRD)' 'Sub-Saharan Africa'
 'Sub-Saharan Africa (excluding high income)'
 'Sub-Saharan Africa (IDA & IBRD countries)' 'Upper middle income' 'World'
 'Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas, The' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'British Virgin Islands'
 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde'
 'Cambodia' 'Cameroon' 'Canada' 'Cayman Islands'
 'Central African Republic' 'Chad' 'Channel Islands' 'Chile' 'China'
 'Colombia' 'Comoros' 'Congo, Dem. Rep.' 'Congo, Rep.' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Curacao' 'Cyprus' 'Czechia' 'Denmark'
 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt, Arab Rep.'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini'
 'Ethiopia' 'Faroe Islands' 'Fiji' 'Finland' 'France' 'French Polynesia'
 'Gabon' 'Gambia, The' 'Georgia' 'Germany' 'Ghana' 'Gibraltar' 'Greece'
 'Greenland' 'Grenada' 'Guam' 'Guatemala' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'Honduras' 'Hong Kong SAR, China' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran, Islamic Rep.' 'Iraq' 'Ireland' 'Isle of Man'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kiribati' "Korea, Dem. People's Rep." 'Korea, Rep.' 'Kosovo' 'Kuwait'
 'Kyrgyz Republic' 'Lao PDR' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Macao SAR, China'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia, Fed. Sts.' 'Moldova' 'Monaco' 'Mongolia' 'Montenegro'
 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria'
 'North Macedonia' 'Northern Mariana Islands' 'Norway' 'Oman' 'Pakistan'
 'Palau' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines'
 'Poland' 'Portugal' 'Puerto Rico' 'Qatar' 'Romania' 'Russian Federation'
 'Rwanda' 'Samoa' 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia'
 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Sint Maarten (Dutch part)' 'Slovak Republic' 'Slovenia'
 'Solomon Islands' 'Somalia' 'South Africa' 'South Sudan' 'Spain'
 'Sri Lanka' 'St. Kitts and Nevis' 'St. Lucia' 'St. Martin (French part)'
 'St. Vincent and the Grenadines' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Syrian Arab Republic' 'Tajikistan' 'Tanzania' 'Thailand'
 'Timor-Leste' 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkiye'
 'Turkmenistan' 'Turks and Caicos Islands' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela, RB' 'Viet Nam' 'Virgin Islands (U.S.)'
 'West Bank and Gaza' 'Yemen, Rep.' 'Zambia' 'Zimbabwe']

In [45]:
dados_filtrados.loc[:, "Value"] = dados_filtrados["Value"].fillna(0)
dados_filtrados.head()

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Value
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,1960,0.000000
221,Africa Eastern and Southern,AFE,"Condom use, population ages 15-24, female (% o...",SH.CON.1524.FE.ZS,1960,0.000000
222,Africa Eastern and Southern,AFE,"Condom use, population ages 15-24, male (% of ...",SH.CON.1524.MA.ZS,1960,0.000000
311,Africa Eastern and Southern,AFE,Domestic credit to private sector (% of GDP),FS.AST.PRVT.GD.ZS,1960,0.000000
422,Africa Eastern and Southern,AFE,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1960,6.723226

In [47]:
sub_dfs_por_pais = {pais: grupo for pais, grupo in dados_filtrados.groupby("Country Name")}
Argentina = sub_dfs_por_pais["Argentina"]
Argentina.head()

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Value
83779,Argentina,ARG,Access to electricity (% of population),EG.ELC.ACCS.ZS,1960,0.000000
83997,Argentina,ARG,"Condom use, population ages 15-24, female (% o...",SH.CON.1524.FE.ZS,1960,0.000000
83998,Argentina,ARG,"Condom use, population ages 15-24, male (% of ...",SH.CON.1524.MA.ZS,1960,0.000000
84087,Argentina,ARG,Domestic credit to private sector (% of GDP),FS.AST.PRVT.GD.ZS,1960,13.611244
84198,Argentina,ARG,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1960,3.075000

In [50]:
for pais in sub_dfs_por_pais:
    sub_dfs_por_pais[pais].drop(columns=["Country Code", "Country Name"], inplace=True)
    sub_dfs_por_pais[pais].reset_index(drop=True, inplace=True)

In [51]:
Argentina = sub_dfs_por_pais["Argentina"]
Argentina.head()

,Indicator Name,Indicator Code,Year,Value
0,Access to electricity (% of population),EG.ELC.ACCS.ZS,1960,0.000000
1,"Condom use, population ages 15-24, female (% o...",SH.CON.1524.FE.ZS,1960,0.000000
2,"Condom use, population ages 15-24, male (% of ...",SH.CON.1524.MA.ZS,1960,0.000000
3,Domestic credit to private sector (% of GDP),FS.AST.PRVT.GD.ZS,1960,13.611244
4,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1960,3.075000